body {
    background-color: white;
    width: 900px;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
#pagewrapper {
    margin: 10px auto;
    padding: 0;
    border: 1px solid #03073E;
    font-family: Helvetica, Arial, sans-serif;
}
#content {
    padding: 20px 10px;
}
header {
    background-color: #222A8E;
    margin: 0;
    padding: 0;
}
header p {
    padding: 20px 10px;
    font-size: 24px;
    margin: 0;
    color: white;
    font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}
footer {
    background-color: #2E3155;
    padding-top: 6px;
    padding-bottom: 6px;
    clear:both;
    border-top: 2px solid #03073E;
    text-align: center;
}
footer p, #footer a {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight:bold;
    margin: 0;
    padding: 2px;
}

/* Navigation Bar */

nav ul {
    padding: 0;
    margin: 0;
    background-color: #2E3155;
    color: White;
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 2px solid #03073E;
}
nav ul li {
    display: inline;
    color: White;
    float: left;
    border-right: 1px solid #03073E;
    font-family: helvetica, arial, sans-serif;
}
nav ul li a {
    padding: 0.2em 0.7em;
    background-color: #2E3155;
    color: White;
    text-decoration: none;
    float:left;
}
nav ul li a:hover {
    background-color: #969DF9;
    color: #fff;
}

/* #log_nav ul {
   list-style: none;
   color: white;
   margin: 0 0 2em;
   padding: 0;
}

#log_nav ul li {
   display: inline;
   color: white;
   float: right;
   font-family: helvetica, arial, sans-serif;
} */

ul#log_nav li a {
   list-style: none;
   color: #2E3155;
   display: inline-block;
   vertical-align: top;
   text-decoration: none;
   float: right;
   padding-right: 2em;
   background-color: white;
}

#flash_notice {
   background-color: #CFC;
   border: solid 1px #6C6;
}

#flash_alert {
   background-color: #FCC;
   border: solid 1px #C66;
}
