<h1 style="color: #03073e;>Resources</h1>
<% for category in @categories %>
  <% unless category.links.empty? %>
      <h2><%= category.title %></h2?
      <p><%= category.description %></p>
      <ul>
         <% for link in category.links %>
            <li><%= link_to link.title, link.url %></li>
         <% end %>
      </ul>
   <% end %>
<% end %>
