# Add application configuration variables here, as shown below.
#
ADMIN_NAME: administrator
ADMIN_EMAIL: admin@cairnbrain.com
ADMIN_PASSWORD: changeme
# Add application configuration variables here, as shown below.
#
MANDRILL_USERNAME: admin@cairnbrain.com
MANDRILL_PASSWORD: 'ZbpuhIwDpIao3U3-M9V0EA'
