html, header {
   background-color: #A6cfe1;
   }
body {
   background-color: white;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 1.6em;
}
#pagewrapper {
    margin: 10px auto;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
}
#content {
    padding: 20px 10px;
}
header {
    background-color: white;
    margin: 0;
    padding: 0;
}
header p {
    padding: 20px 10px;
    font-size: 36px;
    margin: 0;
    color: #222a8e;
    font-weight: bold;
    font-family: Montserrat;
}
footer {
    background-color: #2E3155;
    padding-top: 6px;
    padding-bottom: 6px;
    clear:both;
    border-top: 2px solid #03073E;
    text-align: center;
}
footer p, #footer a {
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight:bold;
    margin: 0;
    padding: 2px;
    font-family: Montserrat;
}
section {
   font-family: Montserrat;
}

section h1 {
   color: #594802;
 }

/* Navigation Bar */

nav {
   padding-bottom: 20px;}

nav ul {
    padding: 0;
    margin: 0;
    background-color: #2E3155;
    color: white;
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 2px solid #03073E;
}
nav ul li {
    display: inline;
    color: white;
    float: left;
    border-right: 1px solid #03073E;
    font-family: Tahoma, Geneva, sans-serif;
}
nav ul li a {
    padding: 0.2em 0.7em;
    background-color: #2E3155;
    color: white;
    text-decoration: none;
    float:left;
}
nav ul li a:hover {
    background-color: #969DF9;
    color: #fff;
}
nav li#current a {
   background-color: #dee0f9;
   color: #03073e;
}
#subnav {
   width: 200px;
   float: left;
   margin: 0 20px 50px -10px;
}
#subnav ul {
    list-style: none;
    font-weight: bold;
    font-size: 13px;
	margin: 0;
	padding: 0;
}
#subnav ul li {
	background-color: #999;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
}
#subnav ul li a {
	padding: 5px 10px;
	display:block;
	color:white;
	text-decoration: none;
}
#subnav ul li a:hover {
    background-color: #333;
    color: #fff;
}

ul#log_nav {
   color: #2e2155;
   font-size: 14px;
   position: absolute;
   top: 15px;
   right: 100px;
}

ul#log_nav li {
   text-decoration: none;
   display: inline;
}

ul#log_nav li a {
   text-decoration: none;
   display: inline;
}

/* flash notice styling */

#flash_alert:empty, #flash_notice:empty {
  display: none;
}

#flash_alert, #flash_notice {
   padding: 5px 8px;
   margin: 10px 0;
   width: 50%;
}

#flash_notice {
   background-color: #CFC;
   border: solid 1px #6C6;
}

#flash_alert {
   background-color: #FCC;
   border: solid 1px #C66;
}
#hor-minimalist-a
{
  font-family: Tahoma, Geneva, sans-serif;
  background: #fff;
  margin: 45px;
  width: 800px;
  border-collapse: collapse;
  text-align: left;
}
#hor-minimalist-a th
{
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
  color: #669;
  padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
  color: #009;
}
#vtab th {
 text-align: left;
}
/* style for best_in_place messages */
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}
.banner { 
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 10px;
}