body {
    background-color: white;
    width: 900px;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}
#pagewrapper {
    margin: 10px auto;
    padding: 0;
    border: 1px solid #03073E;
    font-family: Helvetica, Arial, sans-serif;
}
#content {
    padding: 20px 10px;
}
header {
    background-color: #222A8E;
    margin: 0;
    padding: 0;
}
header p {
    padding: 20px 10px;
    font-size: 24px;
    margin: 0;
    color: white;
    font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}
footer {
    background-color: #2E3155;
    padding-top: 6px;
    padding-bottom: 6px;
    clear:both;
    border-top: 2px solid #03073E;
    text-align: center;
}
footer p, #footer a {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight:bold;
    margin: 0;
    padding: 2px;
}

/* Navigation Bar */

nav ul {
    padding: 0;
    margin: 0;
    background-color: #2E3155;
    color: White;
    float: left;
    width: 100%;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 2px solid #03073E;
}
nav ul li {
    display: inline;
    color: White;
    float: left;
    border-right: 1px solid #03073E;
    font-family: helvetica, arial, sans-serif;
}
nav ul li a {
    padding: 0.2em 0.7em;
    background-color: #2E3155;
    color: White;
    text-decoration: none;
    float:left;
}
nav ul li a:hover {
    background-color: #969DF9;
    color: #fff;
}

ul#log_nav {
   padding-right: 2em;
   color: #2e2155;
   list-style-type: none;
   margin: 0 0 2em;
   float: right;
   font-family: helvetica, arial, sans-serif;
}

ul#log_nav li {
   text-decoration: none;
   display: inline;
}

ul#log_nav li a {
   text-decoration: none;
   display: inline;
}

#flash_notice {
   background-color: #CFC;
   border: solid 1px #6C6;
}

#flash_alert {
   background-color: #FCC;
   border: solid 1px #C66;
}
#hor-minimalist-a
{
  font-family: helvetica, arial, sans-serif;
  background: #fff;
  margin: 45px;
  width: 800px;
  border-collapse: collapse;
  text-align: left;
}
#hor-minimalist-a th
{
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
  color: #669;
  padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
  color: #009;
}
#vtab th {
 text-align: left; 
} 
/* style for best_in_place messages */
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}
